
.container {
  min-height: 100vh;
  transition: all .8s linear;
  overflow: hidden;
  /* font-family: 'SourceHanSerifSC-Regular', sans-serif; */
}


.Content {
  background: #ffffff;
  border-radius: 3vh;
  min-height: 100vh;
}


.CardImageContainer {
  
  overflow: hidden;
}

.CardContainer:hover .CardImage{
  transform: scale(1.2);
}

.CardImage {
  object-fit: cover;
  transition: transform 0.3s ease;
}

