/* @font-face {
  font-family: 'SourceHanSerifSC-Regular';
  src: url('/fonts/SourceHanSerifSC-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
 */
.container{
  min-height: 100vh;
  transition: all .8s linear;
  overflow: hidden;
  /* font-family: 'SourceHanSerifSC-Regular', sans-serif; */
}

.topHeader {
  padding: 0;
  max-width: 100%;
  overflow: hidden;
  /* position: relative; */
  /* height: 15vh; */
  /* max-height: 15vh; */
  height: auto;
  /* width: 100vw !important; */
  /* background: aqua; */
}
.topImage {
  /* width: 90%; */
  /* height: 90%; */
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: 0px -200px;
}
.Header {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  z-index: 5;
  width: 100%;
  height: 8vh;
  font-size: 1.4rem;
  color: #e6e6e6;
  /* background-image: linear-gradient(to top, #9a0000 0%, #9a0000 100%); */
  background-color: #9a0000;
/*   background-image: url('/img/1.png') ;
  background-repeat: no-repeat; */
  box-shadow:0px 0px 10px 10px #e6e6e6;
}

.HeaderText {
  font-size: 1.7rem;
}

.Menu {
  margin-left: 20vw;
  width: 100vw;
  color: #ffffff;
  /* background-color: #21e489; */
  font-size: 1.1rem;
  line-height: 1rem;
  /* background-image: linear-gradient(45deg, #ff0844 0%, #f43333 100%); */
  /* background: transparent; */
}


.Content {
  /* margin: 2vw 2vw 2vw 2vw; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* margin-top: 0vh; */
  /* box-shadow:0px 0px 15px 10px #d9d9d9; */
  background: #ffffff;
  border-radius: 3vh;
  /* padding: 5vw 5vw 5vw 5vw; */
  min-height: 100vh;

}

.Carousel {
  height: 65vh;
  max-width: 100%;
  overflow: hidden;
}

.CarouselImage {
  
  object-fit: cover;
  
  object-position: center;
}

.NewsModule{
  margin-top: 3vh;
  margin-bottom: 3vh;
}
